/.vscode
/raw_data/*
/libtraffic/tmp/*
/libtraffic/cache/*
/libtraffic/__pycache__
/libtraffic/*/__pycache__
/libtraffic/data/dataset/__pycache__
/.idea
/libtraffic/log/*
/libtraffic/model/*/__pycache__
/libtraffic/data/dataset/trajectory_encoder/__pycache__
